
<h1><%= t('views.question.index')%></h1>

<%= render 'search_form' %>


<br>

<% @questions.each do |question| %>
<p>
  <%= question.user.name %>
  <%= link_to question.title ,question_path(question)%>


</p>

<% end %>
