<p>
  <%= answer.user.name %>
  <%= answer.content %>
  <%= link_to 'Delete', [answer.question, answer],
              method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
</p>
